/*      EXTERNAL CSS */

QWidget
{
    color: #000000;
    background-color: #8da9d3;

}

#widget_signUp
{
  color: #000000;
  background-color: #8da9d3;
  border: 1px solid #1e1e1e;
  border-color: rgb(170, 85, 0);
  border-radius: 4;
}


QLineEdit
{
    background-color: #ffffff;
    border-color: rgb(0, 0, 0);
    opacity: 0.5;
    border: 1px solid #1e1e1e;
    border-radius: 5;
}


QTextEdit {
  background-color: #ffffff;
  border-color: rgb(0, 0, 0);
  opacity: 0.5;
  border: 1px solid #1e1e1e;
  border-radius: 5;
}

#logo_label {
background-color: transparent;
border-image:url(:/icons/small_logo.png);
background:none;
border:none;
background-repeat:none;
}

#label_motto
{
background-color: rgb(247, 247, 247);
border: 1px solid #1e1e1e;
border-color: rgb(170, 85, 0);
border-radius: 4;
}



/*------------------------------------------------------------------------------------*/

#pushButton_EN:hover {
  background-color: #ad3126;
  color: white;
}



#pushButton_IE:hover {
  background-color: #4CAF50;
  color: white;
}


#enter_btn:hover {
  background-color: #4CAF50;
  color: white;
}

#slideFrameget {
background-color:transparent;
border: 1px solid #1e1e1e;
border-color: rgb(170, 85, 0);
border-radius: 4;
}

#searchButton
{
background-color: transparent;
border-image:url(:/icons/search.png);
background:none;
border:none;
background-repeat:none;
}

#pushButton_Info
{
  border-image:url(:/icons/info.png);
  background: none;
  background-color: transparent;
  border: none;
}

#pushButton_Desc {
  border-image:url(:/icons/description.png);
  background: none;
  background-color: transparent;
}

#pushButton_Test
{
border-image:url(:/icons/testimonials.png);
background: none;
background-color: transparent;
border: none;
}


#pushButton_Contact {
  border-image:url(:/icons/contact_phone.png);
  background: none;
  background-color: transparent;
}

#searchButton:pressed
{
  background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}

#pushButton_Info:pressed
{
  background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}


#pushButton_Desc:pressed
{
  background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}

#pushButton_Test:pressed
{
  background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}


#pushButton_Contact:pressed
{
  background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}


/*--------------------------------------------------------------------------------------------*/

QTabBar::tab {
    color: #b1b1b1;
    border: 1px solid #444;
    border-bottom-style: none;
    background-color: #323232;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabWidget::pane {
  border: 1px solid #1e1e1e;
  border-color: rgb(170, 85, 0);
  border-radius: 4;
  top: 1px;
}

QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
    border-top-right-radius: 3px;
}

QTabBar::tab:first:!selected
{
 margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */


    border-top-left-radius: 3px;
}

QTabBar::tab:!selected
{
    color: #b1b1b1;
    border-bottom-style: solid;
    margin-top: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:.4 #343434);
}

QTabBar::tab:selected
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:0.4 #343434, stop:0.2 #343434, stop:0.1 #ffaa00);
}
